
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h2>Sign-in</h2>
    <form action="/login" method="POST">
        UserName : <input type="text" name="username"/><br/>
        Password : <input type="password" name="userpass"/><br/>
        <button> Login</button>
    </form>
    
</body>
</html>